@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-image {
    background-image: url('../components/image/ab.jpg');
    background-size: cover;
    /* Adjust the sizing as per your requirement */
    background-position: center;
    /* Adjust the positioning as per your requirement */
}